:root {
    --verde-principal:  #28a745; /* Verde escuro, elegante */
    --verde-claro: #a5d6a7;     /* Verde claro para detalhes */
    --branco: #ffffff;
  }

  header h1 {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold; /* Adicionando o negrito */
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--branco);
  }

  header {
    background-color: var(--verde-principal);
  }

  .nav-link {
    color: var(--branco);
    transition: 0.3s;
  }

  .nav-link:hover {
    color: var(--verde-claro);
    text-decoration: underline;
  }

  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }

  .section-header {
    margin-bottom: 30px;
    text-align: center;
    color: var(--verde-principal);
  }

  .partner-logo {
    max-width: 150px;
    margin: 0 15px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }

  .partner-logo:hover {
    filter: grayscale(0%);
  }

  .card-img-top {
    transition: transform 0.3s ease-in-out;
  }

  .card-img-top:hover {
    transform: translateY(-10px);
  }

  footer {
    background-color: #28a745;
    color: white;
    padding: 30px 0;
    text-align: center;
  }

  /* Tipos de construção alinhados */
  .tipo-construcao img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .tipo-construcao h5 {
    color: var(--verde-principal);
  }

  .bg-light {
    background-color: #f9f9f9 !important;
  }


.tipo-construcao img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.tipo-construcao img:hover {
transform: translateY(-10px);
}

.projectos-realizados img {
height: 200px;
width: 100%;
object-fit: cover;
border-radius: 8px;
}